@import "../../App.scss";

.footer {
  background-color: $background; 
  color: rgba($body-color, 0.6);
  padding: 10px 0;
  position: relative;
  margin-top: 100px; 

  &::before {  
    content: "";
    position: absolute;
    top: 0; 
    left: 15%;
    right: 15%;
    height: 2px; 
    background-color: $main;
    opacity: 0.6;
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 63%; 
    margin: 0 auto;
    width: 100%; 
  }

  h4 {
    font-size: 1.1em; 
    margin-bottom: 10px;
    color: $main; 
    padding-bottom: 8px;
  }

  p, ul li a {
    font-size: 0.85em; 
    color: rgba($body-color, 0.6);
    margin-bottom: 4px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 4px;

      a {
        text-decoration: none;
        color: rgba($body-color, 0.6);
        transition: color 0.2s;

        &:hover {
          color: $main; 
        }
      }
    }
  }

  .copy {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em; 
  }
}

@media only screen and (max-width: 1000px) and (max-device-width: 1000px) {
  .footer {
    padding: 20px 0; 
    text-align: center;
  }

  .container {
    flex-direction: column; 
    gap: 15px;

    h4 {
      font-size: 1.1em;
      margin-bottom: 10px; 
    }
  }

  .footer::before {
    left: 5%;
    right: 5%;
  }
}
