@import "../../App.scss";

.timerIcon {
  width: 40px;
  height: auto;
}

.timer-card {
  background-color: $timer-card;
  border-radius: 4px;
  color: $body-color;
  height: 40px;
  width: 35px;
  font-size: large;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.timer-text {
  font-size: small;
}
.timer {
  font-size: 0.9rem;
  color: $main;
  background-color: $card-background;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid $main;
  margin-top: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.red-svg {
  filter: invert(17%) sepia(66%) saturate(3321%) hue-rotate(347deg)
    brightness(92%) contrast(83%);
  width: 20%;
}

@media only screen and (max-width: 1000px) and (max-device-width: 1000px) { 
  .timer {
    padding: 8px;
    width: 70%;
  }
}