$body-color: #fff;
$background: rgb(29, 29, 29);
$main: rgb(226, 145, 40);
$main-green: rgb(142, 182, 61);
$main-hover: rgb(227 95 87);
$main-hover: rgba(211, 84, 0, 0.7);
$box-shadow: rgba(255, 255, 255, 0.05);
$card-background: #02203c;
$timer-card: #3b668f;

body {
  background-color: $background; /* темно-синий фон */
  font-family: Arial, sans-serif;
  color: $body-color;
}

.header {
  display: flex;
  background-color: $background;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  border-radius: 8px;
  width: 90%;
  margin: auto;

  .logo {
    width: 250px;
    height: auto;
  }

  .middle {
    display: flex;
    align-items: center;
    gap: 20px;

    .email,
    .phone {
      font-size: 1em;
      margin: 0;
    }

    .email {
      color: $body-color;
    }

    .phone {
      color: $body-color;
    }
  }

  .cta-button {
    padding: 10px 20px;
    background-color: $background;
    &:hover {
      background-color: $main-hover;
    }
    color: $main;
    width: 196px;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: "GILROY", Arial, sans-serif;
    line-height: 1.15;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    border-style: solid;
    border-color: $main;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 14px;
  font-family: "GILROY", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

.heading {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 1.9rem;
  color: $body-color;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 80%;
}

@media only screen and (max-width: 1000px) and (max-device-width: 1000px) {
  .details {
    flex-direction: column;
  }
}

.left-box,
.right-box {
  background-color: $card-background;
  padding: 15px 25px;
  border-radius: 15px;
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 8px $box-shadow;
  min-width: 150px;
}

.left-box {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.center-box {
  background-color: $card-background;
  padding: 20px 30px;
  border-radius: 15px;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  margin: 30px auto;
  box-shadow: 0 6px 12px $box-shadow;
}
