@import "../../App.scss";

.heading {
  margin-bottom: 20px;
}

.center-box {
  max-width: 60%;
}

.question {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.answer {
  margin-top: 10px;
  padding: 10px;
  background-color: $card-background;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) and (max-device-width: 1000px) {
  .center-box {
    max-width: 75%;
  }
}
