@import "../../App.scss";

.prizeItem {
  background-color: $card-background;
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.discount {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}
